<form action="/auth/oneid" method="post">
  <div>
    <label>Shared Token:</label>
    <input type="text" name="shared_token" /><br />
  </div>
  <div>
    <input type="submit" value="Submit" />
  </div>
</form>
